/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #689fda;
}

header {
    background-color: #28245c;
    color: #089c04;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.container {
    max-width: 20%;
    margin: 1% auto;
    padding: 1%;
    background-color: #84a3bd;
    border: 0.25% solid #ddd;
    border-radius: 0.25%;
    font-size: 100%;
}

.device-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.device-info label {
    font-weight: bold;
}

.device-status {
    font-size: 1.2%;
    color: green;
}

.device-actions {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.button {
    padding: 2% 4%;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.button:hover {
    background-color: #0056b3;
}

.button.disabled {
    background-color: #ccc; /* Greyed out background color */
    color: #888; /* Greyed out text color */
    pointer-events: none; /* Disable button clicks */
}


/* Style for the battery indicator */
.battery-container {
    width: 60px;
    height: 30px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.battery-level {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.5s;
}

.battery-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

#plotly-chart {
    justify-content: center;
    align-items: center;
    width : 100%;
    font-size: 2px;

}

/* Style for the overlay background */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 100; /* Ensure it's on top of other content */
}

/* Style for the configuration form container */
#configFormContainer {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5; /* Light gray background color */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for a raised effect */
    z-index: 101; /* Ensure it's above the overlay */
}

/* Style for form headings */
h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Style for form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style for form input fields */
input[type="text"],
input[type="number"],
input[type="time"],
input[type="range"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the "Save" and "Cancel" buttons */
/*button[type="submit"],
/*button[type="button"] {
/*    background-color: #007BFF; /* Blue color for buttons */
/*    color: #fff; /* White text color */
/*    padding: 10px 20px;
/*    border: none;
/*    border-radius: 5px;
/*    cursor: pointer;
/*}

/* Style for the "Cancel" button */
button[id="cancelButton"] {
    background-color: #dc3545; /* Red color for cancel button */
    margin-left: 10px;
}
/* style for the cancel button on hover */
button[id="cancelButton"]:hover {
    background-color: #c82333;
}



footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 1px;
    font-size: 12px;
    /* anchor at the bottom */
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.footer-content {
    color: #333;
    display: flex;

}

.author-name {
    font-weight: bold;
}


.about {
    /* anchor at to the right */
    position: absolute;
    right: 0;
    margin-right: 10px;
    
}